<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PJCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PJCC.Properties.Settings.PRODUCTIONConnectionString"
            connectionString="Data Source=MADLANGSANTOS;Initial Catalog=PRODUCTION;Persist Security Info=True;User ID=sa;Password=agriventure123!@#"
            providerName="System.Data.SqlClient" />
        <add name="PJCC.Properties.Settings.PRODUCTION4" connectionString="Data Source=MADLANGSANTOS;Initial Catalog=PRODUCTION4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PJCC.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>MADLANGSANTOS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>PJCC</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="pw" serializeAs="String">
                <value>agriventure123!@#</value>
            </setting>
        </PJCC.Properties.Settings>
    </userSettings>
</configuration>